doctype html
html
    head
        meta(lang="en")
        meta(charset="UTF-8")
        meta(http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")
        meta(description="Woofer - flexible Twitch chat bot")
        title=#{ title }
    body
      div.container.h-100
        div.row.justify-content-center.h-100.align-items-center
          div.d-flex.flex-column.justify-content-center.align-items-center
            img(src="/images/woofer_logo.png" alt="Woofer Logo")
            div.text-center.pt-4.pb-4 
              small Кастомный бот для Twitch
            a.btn.btn-twitch(href="/auth/twitch") Авторизация Twitch